@model PhotoLife.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Image Background Page Header -->
<header class="business-header"></header>

<div class="container home-page">
    <h2>Top Photo News</h2>

    <div class="col-md-12">
        <div class="row">
            @foreach (var news in Model.TopNews)
            {
                var url = news.ImageUrl;
                var urlSplit = "";

                if (url != null)
                {
                    urlSplit = url.Insert(49, "c_fill,h_300,w_300/");
                }

                var length = 150;
                if (news.Text.Length < 150)
                {
                    length = news.Text.Length - 1;
                }

                <div class="col-sm-4  top-news">
                    <img class="img-circle img-responsive img-center" src="@urlSplit" alt="">
                    <h2>@news.Title</h2>

                    <h5><strong>Views: </strong> @news.Views.ToString() </h5>
                    <h5><strong>Category: </strong> @news.Category.Name.ToString()</h5>
                    <h5><strong>Published: </strong> @news.DatePublished.ToShortDateString()</h5>
                    <h5><strong>Author: </strong> @news.Author.UserName</h5>

                </div>
            }
        </div>


        <h2>Top User Posts</h2>

        <div class="row">
            @foreach (var post in Model.TopPosts)
            {
                var url = post.ImageUrl;
                var urlSplit = "";

                if (url != null)
                {
                    urlSplit = url.Insert(49, "c_fill,h_300,w_300/");
                }

                var length = 150;
                if (post.Description.Length < 150)
                {
                    length = post.Description.Length - 1;
                }

                <div class="col-sm-4 top-posts">
                    <img class="img-responsive img-center" src="@urlSplit" alt="">
                    <h2>@post.Title</h2>

                    <ul class="list-inline list-unstyled">
                        <li>
                            <span class="glyphicon glyphicon-thumbs-up"></span> Votes: @post.Votes.Count.ToString()
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-list-alt"></span> Category: @post.Category.Name.ToString()
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-calendar"></span> Published: @post.DatePublished.ToShortDateString()
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-log-in"></span> Author: @post.Author.UserName
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-log-in"></span> @Html.ActionLink("View", "Details", new { controller = "Post", id = post.PostId })
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>


</div>