@using PhotoLife.ViewModels.Comment
@model PhotoLife.ViewModels.News.NewsDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="title">@Model.Title</h2>
    <img src="@Model.ImageUrl" alt="" />
    
    <p class="glyphicon glyphicon-calendar">@Model.DatePublished</p>
    <p class="glyphicon glyphicon-list">@Model.Category.ToString()</p>
    <p class="glyphicon glyphicon-user">@Model.Author</p>

    @Html.Raw(HttpUtility.HtmlDecode(Model.Text))
</div>

@if (HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
{
    <div id="comment-form">
        @Html.Partial("_CommentNews", new AddCommentViewModel { CommentedItemId = Model.Id })
    </div>
}
