@using PhotoLife.ViewModels.Comment
@model PhotoLife.ViewModels.News.NewsDetailsViewModel

@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewsDetails</h2>

<div>
    <h4>NewsDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

    </dl>
</div>

<div>
@Html.Raw(HttpUtility.HtmlDecode(Model.Text))
</div>

@if (HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
{
    <div id="comment-form">
        @Html.Partial("_CommentNews", new AddCommentViewModel { CommentedItemId = Model.Id })
    </div>
}
