@using System.Web.Mvc.Html
@using PhotoLife.ViewModels.Comment

@model PhotoLife.ViewModels.Post.PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="title">@Model.Title</h3>

    <div class="well" id="post-well">
        <span class="glyphicon glyphicon-user"></span> Author: @Html.ActionLink(Model.Author, "UserProfile", new { controller = "Profile", username = Model.Author })
        <span class="pull-right"><i class="glyphicon glyphicon-calendar"></i> @string.Format("{0:D} at {0:HH:mm}", Model.DatePublished)</span>
        <img src="@Model.ImageUrl" alt="Alternate Text" class="post-short-pic" />
        <p class="title"> @Model.Description</p>


        <div id="comment-form">
            @Html.Partial("_CommentPost", new AddCommentViewModel { CommentedItemId = Model.Id })
        </div>


        @Html.Partial("~/Views/Vote/Vote.cshtml", Model.Votes.Count())

        @if (HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
        {
            @Ajax.ActionLink(" ",
                "Vote",
                new { controller = "Vote", postId = Model.Id, currentVoteCount = Model.Votes.Count() },
                new AjaxOptions
                {
                    UpdateTargetId = "rating",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }, new { @class = "glyphicon glyphicon-thumbs-up pull-right btn-lg", id = "rating-btn" })
        }

        <div id="comments">
            @if (Model.Comments.Any())
            {
                foreach (var comment in Model.Comments)
                {
                    var curr = new CommentViewModel(comment);

                    <div class="media-body">
                        @Html.Partial("_CommentPartial", curr)
                    </div>
                }
            }
        </div>
        <p class="label-enlarge">Click To Enlarge</p>
    </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade col-md-12" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Preview</h4>
            </div>
            <div class="modal-body">
                <img src="@Model.ImageUrl" id="imagepreview" style="width: 100%; height: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    <script>
        $(".post-short-pic").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
            $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        });
    </script>
}
