@using PhotoLife.ViewModels.Comment

@model PhotoLife.ViewModels.Post.PostDetailsViewModel

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostDetails</h2>

<div>
    <h4>PostDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <img src="@Model.ImageUrl" alt="image" />

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

    </dl>
</div>

@if (HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
{
   @Ajax.ActionLink(" ",
                    "Vote",
                    new { controller = "Vote", logId = Model.Id, currentVoteCount = Model.Votes.Count() },
                    new AjaxOptions
                    {
                        UpdateTargetId = "rating",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new { @class = "glyphicon glyphicon-thumbs-up pull-right btn-lg", id = "rating-btn" })
 
    <div id="comment-form">
        @Html.Partial("_CommentPost", new CommentViewModel { CommentedItemId = Model.Id })
    </div>
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>

@*@section scripts{
    @Scripts.Render("~/bundles/jquery-unobtrusive")
}*@
