@using PhotoLife.ViewModels.Comment

@model PhotoLife.ViewModels.Post.PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="title">@Model.Title</h3>

    <div class="well">
        <img src="@Model.ImageUrl" alt="Alternate Text" class="post-short-pic" />
        <p class="title"> @Model.Description</p>
    </div>
</div>

@if (HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
{
    @Ajax.ActionLink(" ",
                    "Vote",
                    new { controller = "Vote", postId = Model.Id, currentVoteCount = Model.Votes.Count() },
                    new AjaxOptions
                    {
                        UpdateTargetId = "rating",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new { @class = "glyphicon glyphicon-thumbs-up pull-right btn-lg", id = "rating-btn" })

    <div id="comment-form">
        @Html.Partial("_CommentPost", new AddCommentViewModel { CommentedItemId = Model.Id })
    </div>

    <div id="comments">
        @if (Model.Comments.Any())
        {

            @:Comments:
            foreach (var comment in Model.Comments)
            {
                <div class="media-body">
                    @Html.Partial("_CommentPartial", comment)
                </div>
            }

        }
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jquery-unobtrusive")
}
