@using CloudinaryDotNet
@using CloudinaryDotNet.Actions

@model PhotoLife.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(m => m.ProfilePicUrl, new { @class = "col-md-2 control-label", @id = "pic-url" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
    <form>
        @Model.Cloudinary.Api.BuildUploadForm("image_id", "auto",
            new SortedDictionary<string, object>() { },
            null)
    </form>
     <!-- status box -->
    <div class="status">
        <h2>Status</h2>
        <span class="status_value">Idle</span>
    </div>

    <div class="uploaded_info_holder">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript" src="~/Scripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cloudinary.js"></script>
    <script>
        $.cloudinary.config("cloud_name", "djga3zgwr");
        $(function () {
            if ($.fn.cloudinary_fileupload !== undefined) {
                $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
            }

            function prettydump(obj) {
                ret = ""
                $.each(obj, function (key, value) {
                    ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
                });
                return ret;
            }

            $('.cloudinary-fileupload')
                .fileupload({
                    dropZone: '#direct_upload',
                    start: function () {
                        $('.status_value').text('Starting direct upload...');
                    },
                    progress: function () {
                        $('.status_value').text('Uploading...');
                    },
                })
                .on('cloudinarydone',
                    function (e, data) {
                        $('.status_value').text('Idle');
                        $.post('/Account/UploadDirect', data.result);
                        var info = $('<div class="uploaded_info"/>');
                        console.log(data.result);

                        $("#pic-url").val(data.result.url);

                        $(info).append($('<div class="data"/>').append(prettydump(data.result)));
                        $(info)
                            .append($('<div class="image"/>')
                                .append(
                                    $.cloudinary.image(data.result.public_id,
                                    {
                                        format: data.result.format,
                                        width: 150,
                                        height: 150,
                                        crop: "fill"
                                    })
                                ));
                        $('.uploaded_info_holder').append(info);
                    });
        });

    </script>

}
